$primary-color: #1AAC7A;
$white: #FFFFFF;
$black: #000000;

// Generate your color shades in https://javisperez.github.io/tailwindcolorshades/
// --------------------------------------------------------------------------
//                            PRIMARY COLOR SHADES                           
// --------------------------------------------------------------------------

$primary-color-50: #f4fbf8;
$primary-color-100: #e8f7f2;
$primary-color-200: #c6eade;
$primary-color-300: #a3deca;
$primary-color-400: #5fc5a2;
$primary-color-500: #1aac7a;
$primary-color-600: #179b6e;
$primary-color-700: #14815c;
$primary-color-800: #106749;
$primary-color-900: #0d543c;